@media screen and (max-width: 768px) {
  *img{
    display: inline-block;
    width: 50vw;
  }
  p{
    line-height: 1.5;
  }
  .container {
    display: block;
    background-image: none;
  }
  .container__imagem{
    margin: 2em auto;
  }
  .container__caixa {
    margin: 4em 2em;
  }
  .secundario{
    margin: 2em;
    display: block;
  }
  .secundario__imagem{
    text-align: center;
    margin: 0 auto;
  }
  .container__descricao{
    margin: 0 2em;
    padding: 0;
  }
  .terciario__descricao{
    display: inblock;
    text-align: center;
    margin-bottom: 2em;
  }
  .img__notebook{
    margin-bottom: 2em;
  }
  .container__dispositivos{
    display: block;
    text-align: center;
  }
  .footer__img{
    margin-bottom: 1em;
  }
  .footer__list{
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-bottom: 1em;
  }
  .footer__list > a + a{
    margin-left: 5px;
  
  }
  .footer__text__small{
    text-align: center;
    font-size: 10px;
  }
  .footer p + p{
    margin-top: 1em;
  }
}

@media screen and (max-width: 900px) {
  .container__caixa{
    margin: 0 3em;
  }
  .secundario {
    margin: 0 3em;
    padding: 100px 0;
  }
  .container__descricao{
    padding-right: 0em;
  }
  .container__dispositivos__texto{
    font-size: 1.500em;
  }
  .dispositivos__img{
    display: grid;
    /* max-width: 100%; */
  }
  .container__dispositivos{
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .container__dispositivos__texto{
    width: min-content;
    margin: 0 auto;
    background-color: blue;
    min-height: 150px;
  }
}